// VARIABLES

  // COLOURS

    @red:       #e30613;
    @white:     #fff;
    @lime:      #bed024;
    @grass:     #008e49;



    
    


  // FONTS 

    @head-text:       'Oswald', sans-serif;
    @body-text:       'Open Sans', sans-serif;
    @alt-text:        'Old Standard TT', serif;
    
    

  // UNITS

    @unit:            1rem;



// SITE 

  html {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}




