html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'omnes';
  src: url('omnes.woff') format('woff'), url('omnes.ttf') format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src: url('icomoon.woff') format('woff');
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #e30613;
  font-family: Helvetica, Arial, sans-serif;
}
html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: auto;
}
.container {
  width: 1024px;
  height: 768px;
  margin: 2rem auto;
  background: url(background.png) 50% 50% no-repeat;
  position: relative;
}
.logo {
  float: left;
  width: 320px;
  height: 272px;
  position: relative;
  top: -2.4rem;
  left: 2.4rem;
  z-index: 100;
}
h1,
h2,
a {
  font-family: 'omnes', sans-serif;
  display: block;
  text-transform: uppercase;
  margin: .4rem auto;
  text-shadow: 0 0 4px #000;
  font-weight: 300;
}
h1 {
  font-size: 2.4rem;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 3px;
  display: inline-block;
  text-shadow: 0 0 0 transparent;
}
.cta {
  width: 620px;
  margin: auto;
  text-align: center;
  margin-top: 1.5rem;
}
.cta a {
  display: block;
  -webkit-box-shadow: 0 2px 0 #333333;
  box-shadow: 0 2px 0 #333333;
  padding: .4em 0 .2rem;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 1rem;
}
.cta a:hover {
  -webkit-box-shadow: 0 4px 0 #333333;
  box-shadow: 0 4px 0 #333333;
}
.cta .join {
  background: #333333;
  font-size: 3.2rem;
}
.cta .join:hover {
  background: #404040;
}
.cta .join::before {
  content: '\e601';
  font-family: icomoon, sans-serif;
  vertical-align: top;
  font-size: 2.5rem;
  margin-right: 1rem;
}
.cta .login {
  background: #404040;
  font-size: 2.2rem;
}
.cta .login:hover {
  background: #262626;
}
.player {
  width: 620px;
  height: 768px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -60px;
  left: 0px;
  z-index: 1;
  border-radius: 3px;
}
.player h1 {
  color: #ffffff;
  text-shadow: none;
  font-size: 4rem;
  line-height: .8;
  margin: 1rem 0;
}
.player h1::after {
  content: '*';
  font-size: 50%;
  vertical-align: super;
  color: #a8271b;
  margin-left: .4rem;
}
.player iframe {
  cursor: pointer;
}
.feeds {
  width: 620px;
  margin: 20px auto;
}
.feeds div {
  width: 300px;
  height: 250px;
  background: #a8271b;
  border-radius: 3px;
  float: left;
  margin-bottom: 20px;
}
.feeds .facebook {
  margin-right: 10px;
  background: #3b5998;
}
.feeds .twitter {
  margin-left: 10px;
  background: #4099ff;
}
footer {
  width: 620px;
  background: #ffffff;
  margin: 20px auto;
  padding: 20px;
  clear: both;
  border-radius: 3px;
  font-size: .8rem;
  color: #cccccc;
  text-align: center;
}
footer a {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: none;
  color: #999999;
}
footer a:hover {
  color: #cccccc;
}
footer .pushdown-container {
  border: thin solid #cccccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}
footer a.more-trigger {
  cursor: pointer;
}
footer a.more-trigger:hover {
  color: #999999;
}
footer a.more-trigger img {
  display: inline-block;
  width: 12px;
  margin-left: .3rem;
}
footer #more-container {
  display: none;
  border-top: thin solid #cccccc;
  margin-top: 1rem;
}
footer #more-container strong {
  font-weight: normal;
  font-size: 1.1rem;
}
footer img {
  width: 580px;
  opacity: .5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer img:hover {
  opacity: .8;
}
footer p {
  padding: 20px 0;
  line-height: 1.4;
  display: block;
}
footer ol {
  list-style-type: decimal;
  text-align: left;
}
footer ol li {
  padding: 0 0 .5rem .5rem;
  list-style-position: inside;
}
footer ul.sub {
  list-style-type: square;
  padding: 0 0 0 1rem;
}
footer table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}
footer table tr:nth-child(1) {
  color: #999999;
}
footer table tr td:nth-child(1) {
  color: #999999;
}
footer table strong {
  font-size: .8rem !important;
  text-align: left !important;
}
footer td {
  padding: .5rem;
  border: thin solid #cccccc;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html {
    background: #bed024;
  }
}
/*# sourceMappingURL=style.css.map */